.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--dark-pink);
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;  
  }

  .back-to-top svg {
    fill: white;
    height: 30px;
    width: 30px;
  }
  
  .back-to-top:hover {
    background: var(--light-pink);    
  }