

.book-view {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 20px;
}

.book-view-top {
    display: flex;
    gap: 40px;
}

.book-view-cover img {
    width: 270px;
    border-radius: 20px;
}

.buy-book {
    gap: 20px;
    display:flex;
    align-items:center;
    margin-top: 40px;
}

.book-view p {
    font-size: 18px;
}


.book-view-genres span {
    color: black;
    font-weight: 200;
    padding-right: 10px;
}

.genre-bubbles {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap; 
  }

  .genre-bubbles span {
    color: var(--dark-pink);
    font-weight: 800;
  }
  
  .genre-bubble {
    background: var(--button-bg);
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 14px;
  }

  .series-section {
    margin-top: 60px;
  }

  .series-section h2 {
    margin-bottom: 30px;
  }

  .series-books-list {
    display: flex;
    margin:auto;
    padding-left: 0;
    gap: 40px;
  }

  .series-books-list li {
    list-style: none;
  }

  .series-info {
    color: var(--dark-pink);
    font-weight: 800;
  }

  .local-bookstore {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .local-bookstore::after {
    content: '➔'; 
    position: absolute;
    margin-left: 7px; 
    transition: transform 0.3s ease;
  }
  
  .local-bookstore:hover::after {
    transform: translateX(3px); 
  }