.book-view {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 40px;
}

.book-view-cover {
    align-items: center;
    display: flex;
}

.book-view-cover img {
    width: 270px;
    border-radius: 20px;
}

.buy-book {
    gap: 20px;
    display:flex;
    align-items:center;
    margin-top: 40px;
}

.book-view p {
    font-size: 18px;
}


.book-view-genres span {
    color: black;
    font-weight: 200;
    padding-right: 10px;
}

.genre-bubbles {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap; 
  }

  .genre-bubbles span {
    color: var(--dark-pink);
    font-weight: 800;
  }
  
  .genre-bubble {
    background: var(--button-bg);
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 14px;
  }