.about-us-section {
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 20px;
}

.about-us-section h1 {
    margin-bottom: 20px;
}

.about-us-section  a {
    text-decoration: none;
    color: var(--dark-pink);
    font-weight: bold;
}

.about-us-section  a:hover {
    color: var(--light-pink);
}