:root {
  --dark-orange: #D52D00;
  --light-orange: #FF9A56;
  --light-pink: #D362A5;
  --dark-pink: #A30362;
  --text: #212529;
  --button-bg: rgba(163, 3, 98, 0.1);
}

html, body {
  scroll-behavior: auto !important; 
}

a, span, h1, h2, h3, h4, h5, body, p {
  font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-style: normal;
}


body p {
  font-weight: 200;
  font-size: 24px;
}

body h1 {
  font-size: 56px;
  font-weight: 600;
}

body h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

/* Button */
.button {
 padding: 10px 20px;
 background:var(--dark-pink);
 color: white;
 border-radius: 50px;
 text-decoration: none;
 text-align: center;
 font-weight: bold;
 border: none;
 transition: background-color 0.3s ease, color 0.3s ease; 
 font-family: "Outfit", sans-serif;

}

.button:hover {
  background: var(--light-pink);
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin:auto;
}

nav ul {
  display:flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin-bottom: 0;

}

nav ul a {
  font-weight: 600;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: var(--text);
} 

.nav-logo {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 38px;
  font-weight:800;
  color: var(--text);
}

.nav-logo span {
  color: var(--light-pink);
}