:root {
  --dark-orange: #D52D00;
  --light-orange: #FF9A56;
  --light-pink: #D362A5;
  --dark-pink: #A30362;
  --text: #212529;
  --button-bg: rgba(163, 3, 98, 0.1);
}

html, body {
  scroll-behavior: auto !important; 
}

.container {
  max-width: none !important;
  padding: 0 !important;

}

a, span, h1, h2, h3, h4, h5, body, p {
  font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-style: normal;
}


body p {
  font-weight: 200;
  font-size: 24px;
}

body h1 {
  font-size: 56px;
  font-weight: 600;
}

body h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

/* Button */
.button {
 padding: 10px 20px;
 background:var(--dark-pink);
 color: white;
 border-radius: 50px;
 text-decoration: none;
 text-align: center;
 font-weight: bold;
 border: none;
 transition: background-color 0.3s ease, color 0.3s ease; 
 font-family: "Outfit", sans-serif;

}

.button:hover {
  background: var(--light-pink);
}

/* Nav */


.main-navbar {
  max-width: 1000px;
  margin: auto;
  display:flex;
  padding: 20px 40px; 
  margin: 0 20px;
}

.navbar-list {
  display:flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin-bottom: 0;
  justify-content: flex-end;
}

.navbar-list .navbar-link {
  font-weight: 600;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: var(--text);
} 

.navbar-list .navbar-link:hover {
  color: var(--light-pink);
}


.navbar-brand-logo span {
  color: var(--light-pink);
}




.custom-icon {
  display: inline-block;
  width: 25px; 
  height: 25px;
  margin-right: 5px;
}


.custom-toggler.navbar-toggler:focus{
  outline: none; 
  border: none;
  box-shadow: none ;
}



/* Footer */

.footer {
  margin-bottom: 40px;
  background:  var(--text);;
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
  max-width: 1000px;
  padding: 20px;
  color: white;
}

.main-footer a {
  color: white;
  text-decoration: none;
}

.main-navbar .custom-toggler {
  border: 0px solid white;
  padding: 0;
}





@media (max-width: 992px) {
 body h1 {
    font-size: 48px;
  }

  body h2 {
    font-size: 40px;
  }

}


@media (max-width: 768px) {
  body h1 {
    font-size: 38px;
  }

  body h2 {
    font-size: 28px;
  }

  body p {
    font-size: 20px;
  }

  .main-navbar .navbar-brand-logo {
    font-size: 28px;
  }

 
}


