:root {
  --dark-orange: #D52D00;
  --light-orange: #FF9A56;
  --light-pink: #D362A5;
  --dark-pink: #A30362;
}

h1, h2, h3, h4, h5 {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

body h1 {
  font-size: 60px;
}

body h1 span {
  color: var(--dark-orange);
}

body h2 {
  font-size: 42px;
}

